---
import Main from "../layouts/main.astro";
---

<Main>
  <div
    class="flex flex-col gap-4 justify-center items-center mx-auto p-2 red-hat max-w-prose"
  >
    <h1 class="text-3xl red-hat font-extralight">About us</h1>
    <p class="text-lg font-thin">
      Podium is Edmonds WA first ever men&apos;s general store specializing in
      quality menswear and home goods. We offer a collection of quality clothing
      and durable goods with an emphasis on domestic and European brands. Our
      goods are meant to be durable, timeless, loved hard and even passed down.
      At Podium you will find everything the modern PNW man could want as well
      as some hidden treasures that aren&apos;t easy to find in North Seattle.
    </p>
    <p class="text-xs font-thin">Welcome to the winners circle.</p>
  </div>
</Main>
<style>
  .lora {
    font-family: "Lora", serif;
  }
  .red-hat {
    font-family: "Red Hat Display Variable", sans-serif;
  }
  .ibm-mono {
    font-family: "IBM Plex Mono", sans-serif;
  }
</style>
