<header class="flex justify-center mb-24">
  <!-- <div
    class="fixed z-20 w-full h-24 flex justify-center around blur-sm bg-[#F9F7F2] opacity-90"
  >
  </div> -->
  <a
    href="/"
    transition:name="main-logo"
    class="fixed top-0 z-40 flex justify-center"
  >
    <img class="w-[120px]" src="short-flag.svg" alt="logo" />
  </a>

  <div class="fixed bottom-6 w-screen">
    <ul
      class="max-w-sm mx-4 sm:mx-auto bg-[#2E2525] text-[#f9f7f2] flex justify-around gap-2 shadow-lg border-white border-2 rounded-xl ibm-mono font-thin text-sm align-middle items-center"
    >
      <li class="flex flex-col gap-0">
        <span class="leading-none">---</span>
        <span class="leading-none">----</span>
        <span class="leading-none">---</span>
      </li>
      <li class="underline underline-offset-2">
        <a href="/about">about</a>
      </li>
      <!-- <li class="p-2">
        <a href="/brands">BRANDS</a>
      </li>
      <li class="p-2">
        <a href="/newsletter">NEWSLETTER</a>
      </li>
      <li class="p-2">
        <a href="/about">ABOUT</a>
      </li> -->
      <li class="flex flex-col gap-0 items-end">
        <span class="leading-none">---</span>
        <span class="leading-none">----</span>
        <span class="leading-none">---</span>
      </li>
    </ul>
  </div>
  <style></style>

  <!-- <div class="flex flex-col grow">
    <div
      class="flex justify-between items-baseline border-b-2 border-solid border-black py-4"
    >
      <nav class="w-full pl-4">
        <ul class="flex gap-8">
          <li class="font-extralight hover:underline underline-offset-2">
            <a href="/brands">brands we will carry</a>
          </li>
          <li class="font-extralight hover:underline underline-offset-2">
            <a href="/events">grand opening party details</a>
          </li>
          <li class="font-extralight hover:underline underline-offset-2">
            <a href="/newsletter">sign up for the newsletter</a>
          </li>
          <li class="font-extralight hover:underline underline-offset-2">
            <a href="/about">learn more about us</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex justify-end">
      <h3
        class="text-black red-hat font-light text-[90px] leading-none tracking-tighter"
      >
        Currently Training for the Big Day...
      </h3>
    </div>
  </div> -->
</header>
<style>
  .lora {
    font-family: "Lora", serif;
  }
  .red-hat {
    font-family: "Red Hat Display Variable", sans-serif;
  }
  .ibm-mono {
    font-family: "IBM Plex Mono", sans-serif;
  }
</style>
