<div class="flex justify-center red-hat font-light">
  <form method="POST" class="border-2 border-dashed p-2 border-[#2e2525]">
    <div class="flex flex-col gap-2">
      <label for="email" class="text-xl">sign up for updates & newsletter</label
      >
      <div class="flex gap-2">
        <input
          type="email"
          placeholder="your-name@mail.com"
          name="email"
          class="p-1 bg-[#2e2525] text-white placeholder:text-white placeholder:opacity-90 w-full shadow-inner"
          required
        />
        <button
          class="border-2 border-[#2e2525] border-solid px-2 py-1 shadow-sm"
          >submit</button
        >
      </div>
    </div>
  </form>
</div>
<style>
  .lora {
    font-family: "Lora", serif;
  }

  .red-hat {
    font-family: "Red Hat Display Variable", sans-serif;
  }
  .ibm-mono {
    font-family: "IBM Plex Mono", sans-serif;
  }
</style>
